.project_video {
  margin: 1.4vw 0;
  position: relative;
  @media screen and (min-width: 1800px) {
    margin: 25px 0;
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.project_video_trigger {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}