.modal_background {
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999;
}
.modal_open {
  display: block;
}
.body_block {
  overflow: hidden !important;
}
.body_block .edgtf-page-header {
  z-index: 100;
}
.modal_close {
  position: relative;
  cursor: pointer;
}
.modal_close_icon_svg {
  cursor: pointer;
}
.modal_close_icon_svg svg {
  width: 2.7vw;
  height: 2.7vw;
}
.modal_core {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  overflow-y: auto;
}
.modal_head {
  padding: 3.4vw 6.3vw 0;
}
.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.8vw;
}
.modal_title {
  font-size: 2.8vw;
  line-height: 3.8vw;
  color: #313131;
}
.modal_sidebar {
  width: 100%;
  background-color: #e5e5e5;
  height: 2px;
}
.modal_sidebar_line {
  width: 15%;
  height: 100%;
  background-color: #e94a34;
}
.modal_body1 {
  padding: 5vw 6.3vw 4vw 6.3vw;
}
.modal_body2,
.modal_body3,
.modal_body4,
.modal_body6,
.modal_step_finish {
  padding: 5vw 6.3vw 11vw 6.3vw;
}
.modal_body5 {
  padding: 5vw 0 0 6.3vw;
}
.modal_body7 {
  padding: 5vw 0;
}
.modal_step1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 18vw;
  grid-gap: 1.3vw;
  animation: fade-in-move-down 0.5s;
}
.modal_step5_anim,
.modal_step5_sp {
  animation: fade-in-move-up 0.5s;
}
.modal_step1_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F8F8F8;
  padding: 0 4.2vw;
  cursor: pointer;
  transition: all 0.5s ease;
}
.modal_step1_item:hover {
  background-color: #FEFEFE;
  transition: all 0.5s ease;
}
.modal_step1_title {
  font-size: 2.4vw;
  line-height: 3vw;
  color: #313131;
}
.modal_step1_icon_apart {
  max-width: 13.4vw;
}
.modal_step1_icon_house {
  max-width: 8.9vw;
}
.modal_step1_icon_office {
  max-width: 9.2vw;
}
.modal_step1_icon_retail {
  max-width: 8.125vw;
}
.cal_modal_button {
  display: flex;
  position: absolute;
  bottom: -2px;
  right: 0;
  left: 0;
  background-color: #e94a34;
  padding: 0;
  cursor: pointer;
  transition: all 0.5s ease;
}
.modal_back {
  width: 45.5%;
  position: relative;
  z-index: 1;
  background-image: url(../../images/calculator/calculate_arrow_back.svg);
  background-repeat: no-repeat;
  background-size: 3.6vw;
  background-position: center right 3vw;
  cursor: pointer;
  transition: all 0.5s ease;
}
.modal_next_step {
  display: flex;
  align-items: center;
  position: relative;
  right: 0;
  left: 0;
  background-color: #e94a34;
  background-image: url(../../images/calculator/calculate_arrow.svg);
  background-repeat: no-repeat;
  background-size: 3.6vw;
  background-position: center left 12.5vw;
  min-height: 9vw;
  padding: 0;
  padding-left: 1vw;
  width: 54.5%;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease;
}
.modal_next_step_text {
  font-size: 2.5vw;
  line-height: 2.6vw;
  color: #ffffff;
  position: relative;
}
.modal_next_step_numbers {
  font-weight: 600;
  font-size: 5.5vw;
  line-height: 5.5vw;
  color: #ff8372;
  position: absolute;
  right: 6.3vw;
}
.cal_modal_button:hover .modal_back,
.cal_modal_button:hover .modal_next_step,
.modal_send:hover {
  background-color: #ff6853;
  transition: all 0.5s ease;
}
.modal_send {
  position: absolute;
  bottom: 0;
  background-color: #e94a34;
  min-height: 9vw;
  padding: 0;
  width: 100%;
  border: none;
  outline: none;
  font-size: 2.5vw;
  line-height: 2.6vw;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.5s ease;
}
.d-none {
  display: none !important;
}
.modal_step2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 10vw;
  grid-gap: 2vw;
  animation: fade-in-move-down 0.5s;
}
.modal_step2_item {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 0 3vw 0 6.6vw;
  border: 1px solid #dfdfdf;
  cursor: pointer;
  transition: all 0.5s ease;
}
.modal_step2_item._checked {
  background-color: #F8F8F8;
  border: 1px solid #F8F8F8;
  transition: all 0.5s ease;
}
.modal_step2_item:hover .modal_step2_name {
  color: #9A9A9A;
}
.modal_step2_item:first-child .modal_step2_name {
  color: #313131;
}
.modal_step2_item input:checked + span:before {
  background-color: #94cfa1;
  transition: all 0.5s ease;
}
.modal_step2_name {
  font-size: 2.2vw;
  line-height: 2.7vw;
  color: #313131;
  position: relative;
  transition: all 0.5s ease;
}
.modal_step2_item span:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -4vw;
  transform: translate(0, -50%);
  display: inline-block;
  width: 2.1vw;
  height: 2.1vw;
  border-radius: 50%;
  background-color: #f1f1f1;
  transition: all 0.5s ease;
}
.modal_step1 input[type="radio"],
.modal_step2 input[type="checkbox"],
.modal_step3 input[type="checkbox"],
.modal_step4 input[type="radio"] {
  opacity: 0;
  display: none;
}
.modal_step3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 1vw;
  animation: fade-in-move-down 0.5s;
}
.modal_step4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 1vw;
  animation: fade-in-move-down 0.5s;
}
.modal_step3_item,
.modal_step4_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3.9vw 3.2vw 2.8vw 2.6vw;
  border: 2px solid #EEEEEE;
  min-height: 31vw;
  cursor: pointer;
  transition: all 0.5s ease;
}
.modal_step3_item {
  padding: 3.9vw 3.2vw 2.8vw 2.7vw;
}
.modal_step3_item:hover .modal_step3_button,
.modal_step4_item:hover .modal_step4_button {
  background-color: #efefef;
  transition: all 0.5s ease;
}
.modal_step3_item._checked,
.modal_step4_item._checked {
  border: 2px solid #737373;
  transition: all 0.5s ease;
}
.modal_step3_item:nth-child(1) {
  background-image: url(../../images/calculator/arc_doc1.svg);
  background-repeat: no-repeat;
  background-position: top 2.6vw right 3.1vw;
  background-size: 7vw;
  transition: all 0.5s ease;
}
.modal_step3_item:nth-child(2),
.modal_step3_item:nth-child(3) {
  background-image: url(../../images/calculator/arc_doc2.svg);
  background-repeat: no-repeat;
  background-position: top 3.5vw right 3.1vw;
  background-size: 6vw;
  transition: all 0.5s ease;
}
.modal_step4_body {
  width: 65%;
}
.modal_step3_title {
  font-size: 1.7vw;
  line-height: 2.4vw;
  margin-bottom: 4.2vw;
  color: #313131;
  max-width: 14vw;
}
.modal_step4_title {
  font-size: 1.9vw;
  line-height: 2.4vw;
  color: #313131;
  margin-bottom: 1.4vw;
}
.modal_step3_text,
.modal_step4_text {
  font-size: 1.2vw;
  line-height: 1.8vw;
  color: #313131;
  margin-bottom: 1vw;
}
.modal_step3_text {
  font-size: 1.1vw;
  line-height: 1.7vw;
}
.modal_step3_list {
  display: inline-block;
  cursor: pointer;
  margin-bottom: 2vw;
  transition: all 0.5s ease;
}
.modal_step3_list_p {
  display: inline-block;
  font-weight: 600;
  font-size: 1.3vw;
  line-height: 2.3vw;
  color: #e94a34;
  margin: 0;
  transition: all 0.5s ease;
}
.modal_step3_list_hidden_p {
  display: none;
  position: absolute;
  z-index: 1;
  top: -10vw;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 1.5vw;
  width: 39vw;
  font-size: 0.9vw;
  line-height: 1.9vw;
  color: #313131;
  background-color: #ffffff;
  box-shadow: 0px 4px 15px rgb(0 0 0 / 15%);
  border-radius: 12px;
  opacity: 0;
  transition: all 0.5s ease;
}
.modal_step3_list:hover .modal_step3_list_hidden_p {
  display: block;
  opacity: 1;
  transition: all 0.5s ease;
}
.modal_step3_list_span {
  font-weight: 600;
}
.modal_step3_button,
.modal_step4_button {
  background: #F3F3F3;
  color: #313131;
  font-size: 1.7vw;
  line-height: 1.9vw;
  text-align: center;
  padding: 2vw 0;
  width: 100%;
  outline: none;
  transition: all 0.5s ease;
}
.modal_step3_button {
  font-size: 1.5vw;
  line-height: 1.8vw;
  padding: 1.6vw 0;
}
.modal_step3_item._checked .modal_step3_button,
.modal_step4_item._checked .modal_step4_button {
  background-color: #ffffff;
  color: #818181;
  transition: all 0.5s ease;
}
.modal_step4_item:nth-child(1) {
  background-image: url(../../images/calculator/vis_doc1.svg);
  background-repeat: no-repeat;
  background-position: top 5.5vw right 4.3vw;
  background-size: 7.7vw;
  transition: all 0.5s ease;
}
.modal_step4_item:nth-child(2) {
  background-image: url(../../images/calculator/vis_doc2.svg);
  background-repeat: no-repeat;
  background-position: top 5.5vw right 4.9vw;
  background-size: 8.3vw;
  transition: all 0.5s ease;
}
.modal_step5 {
  display: flex;
  animation: fade-in-move-down 0.5s;
}
.modal_step5_calculate {
  width: 43%;
  padding-top: 6.3vw;
  padding-right: 10.4vw;
}
.modal_step5_title {
  font-size: 2.2vw;
  line-height: 2.7vw;
  color: #313131;
  margin-bottom: 1.3vw;
}
.modal_step5_input {
  width: 100%;
  margin-bottom: 5.6vw;
  border: 1px solid #bcbcbc;
  padding: 1.4vw 1.6vw;
  font-size: 1.7vw;
  line-height: 2.7vw;
  color: #313131;
  transition: all 0.5s ease;
}
.modal_step5_input,
.modal_body6_textarea,
.modal_body7_input {
  outline-color: #5981e3;
  transition: all 0.5s ease;
}
.modal_step5_input:focus,
.modal_body6_textarea:focus,
.modal_body7_input:focus {
  outline-color: #5981e3;
  transition: all 0.5s ease;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.modal_step5_calculate_text {
  font-size: 1.1vw;
  line-height: 1.6vw;
  color: #313131;
  position: relative;
  padding-left: 4.2vw;
  margin-bottom: 0;
}
.modal_step5_calculate_text_mob {
  display: none;
}
.modal_step5_calculate_text:before {
  content: "!";
  position: absolute;
  top: -0.7vw;
  left: 0;
  font-weight: bold;
  font-size: 8.9vw;
  line-height: 6.2vw;
  color: #e8e8e8;
}
.modal_step5_result {
  width: 57%;
  background-color: #f4f4f4;
  padding: 8.4vw 10.4vw 11vw 7.7vw;
}
.modal_step5_result_main {
  position: relative;
  padding-left: 5vw;
  margin-bottom: 1.8vw;
}
.modal_step5_result_main:before {
  content: "≈";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 5.8vw;
  line-height: 4.8vw;
  color: #313131;
}
.modal_step5_result_rub {
  font-size: 5.8vw;
  line-height: 5.8vw;
  color: #313131;
  margin-bottom: 0.7vw;
}
.modal_step5_start_p {
  font-size: 2.3vw;
  line-height: 3.1vw;
  color: #313131;
  margin-bottom: 0;
}
.modal_step5_bp,
.modal_step_finish_p {
  font-size: 2.3vw;
  line-height: 3.1vw;
  color: #313131;
  margin-bottom: 1vw;
}
.modal_step_finish_p {
  max-width: 46vw;
}
.modal_step5_sp {
  font-size: 1.9vw;
  line-height: 3.1vw;
  color: #313131;
  margin-bottom: 1vw;
}
.modal_step5_p {
  font-size: 1.9vw;
  line-height: 2.7vw;
  font-size: 1.1vw;
  line-height: 2.3vw;
  color: #313131;
  margin-bottom: 0;
}
.modal_step5_tel {
  font-size: 1.9vw;
  line-height: 2.6vw;
  color: #313131;
}
.modal_step5_result_usd {
  font-size: 3.1vw;
  line-height: 3.1vw;
  color: #313131;
}
.modal_step5_list {
  margin-top: 0.8vw;
  margin-bottom: 2.1vw;
}
.modal_step5_li {
  font-size: 1.1vw;
  line-height: 2.3vw;
  color: #313131;
  position: relative;
  list-style: none;
  padding-left: 2vw;
}
.modal_step5_li:before {
  content: "—";
  position: absolute;
  left: 0;
  font-size: 1.1vw;
  line-height: 2.3vw;
}
.modal_step5_result_text {
  font-size: 1.1vw;
  line-height: 1.6vw;
  color: #313131;
  margin-bottom: 0;
  max-width: 30vw;
}
.modal_step6 {
  display: flex;
  height: 36vw;
  animation: fade-in-move-down 0.5s;
}
.modal_body6_title {
  display: inline-block;
  font-size: 2.2vw;
  line-height: 2.7vw;
  color: #313131;
  margin-bottom: 2.5vw;
}
.modal_body6_textarea {
  padding: 1.4vw 1.6vw;
  font-size: 1.7vw;
  line-height: 2.7vw;
  color: #313131;
  resize: none;
  border: 1px solid #bcbcbc;
  width: 42%;
  transition: all 0.5s ease;
  margin-right: 4%;
}
.modal_body6_dad {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  width: 54%;
  position: relative;
}
.modal_body6_dad_input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}
.modal_body6_dad_p {
  font-size: 1.7vw;
  line-height: 2.1vw;
  color: #313131;
  padding: 0;
  padding-bottom: 2px;
  margin: 0;
  width: 23vw;
}
.modal_body6_dad_button,
.modal_body6_dad_done_button {
  border: none;
  display: inline-block;
  font-size: 1.7vw;
  line-height: 2.1vw;
  color: #e94a34;
  border-bottom: 1px solid rgba(233, 74, 52, 0.36);
  cursor: pointer;
  padding: 0;
  padding-bottom: 2px;
  background: none;
  outline: none;
  transition: all 0.5s ease;
}
.modal_body6_dad_button:hover,
.modal_body6_dad_done_button:hover {
  color: #ff7562;
  transition: all 0.5s ease;
}
.modal_body6_dad_done {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal_body6_dad_done_img {
  margin-bottom: 1vw;
}
.modal_step7 {
  display: flex;
  flex-direction: column;
  max-width: 58%;
  margin: 0 auto;
  animation: fade-in-move-down 0.5s;
}
.modal_body7_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5.6vw;
}
.modal_body7_label {
  font-size: 2.2vw;
  line-height: 2.7vw;
  color: #313131;
}
.modal_body7_input {
  border: 1px solid #bcbcbc;
  padding: 1.4vw 1.6vw;
  font-size: 1.7vw;
  line-height: 2.7vw;
  width: 26.5vw;
  color: #313131;
  transition: all 0.5s ease;
}
.modal_step5_input.error,
.modal_body7_input.error {
  border: 1px solid #e84a33;
}
.modal_close_icon_svg path,
.modal_step1_icon_svg path {
  transition: all 0.5s ease;
}
.modal_close_icon_svg:hover path {
  fill: #c5c5c5;
  transition: all 0.5s ease;
}
@media screen and (min-width: 1800px) {
  .modal_head {
    padding: 61px 113px 0;
  }
  .modal_header {
    margin-bottom: 32px;
  }
  .modal_title {
    font-size: 50px;
    line-height: 68px;
  }
  .modal_close_icon_svg svg {
    width: 48px;
    height: 48px;
  }
  .modal_back {
    background-size: 65px;
    background-position: center right 54px;
  }
  .modal_next_step {
    min-height: 162px;
    background-size: 65px;
    background-position: center left 225px;
    padding-left: 18px;
  }
  .modal_next_step_text {
    font-size: 45px;
    line-height: 47px;
  }
  .modal_next_step_text:after {
    background-size: 65px;
  }
  .modal_next_step_numbers {
    font-size: 99px;
    line-height: 99px;
  }
  .modal_send {
    min-height: 9vw;
    font-size: 45px;
    line-height: 47px;
    min-height: 162px;
  }
  .modal_body1 {
    padding: 90px 113px 72px 113px;
  }
  .modal_body2,
  .modal_body3,
  .modal_body4,
  .modal_body6 {
    padding: 90px 113px 198px 113px;
  }
  .modal_body5 {
    padding: 90px 0 0 113px;
  }
  .modal_body7 {
    padding: 90px 113px;
    padding: 90px 0;
  }
  .modal_step1 {
    grid-auto-rows: 324px;
    grid-gap: 23px;
  }
  .modal_step1_item {
    padding: 0 75px;
  }
  .modal_step1_title {
    font-size: 43px;
    line-height: 54px;
  }
  .modal_step2 {
    grid-auto-rows: 198px;
    grid-gap: 36px;
  }
  .modal_step2_item {
    padding: 0 54px 0 119px;
  }
  .modal_step2_name {
    font-size: 40px;
    line-height: 49px;
  }
  .modal_step2_item span:before {
    left: -72px;
    width: 38px;
    height: 38px;
  }
  .modal_step3,
  .modal_step4 {
    column-gap: 18px;
  }
  .modal_step3_item,
  .modal_step4_item {
    padding: 70px 57px 50px 57px;
    height: auto;
    min-height: auto;
  }
  .modal_step3_item:nth-child(1) {
    background-size: 126px;
    background-position: top 46.8px right 56px;
  }
  .modal_step3_item:nth-child(2),
  .modal_step3_item:nth-child(3) {
    background-size: 108px;
    background-position: top 63px right 56px;
  }
  .modal_step3_title {
    font-size: 30px;
    line-height: 43px;
    margin-bottom: 75px;
    max-width: 240px;
  }
  .modal_step4_title {
    font-size: 34px;
    line-height: 43px;
    margin-bottom: 25px;
  }
  .modal_step3_text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 18px;
    max-width: 470px;
  }
  .modal_step4_text {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 70px;
    max-width: 510px;
  }
  .modal_step3_list {
    margin-bottom: 36px;
  }
  .modal_step3_list_p {
    font-size: 23px;
    line-height: 41px;
  }
  .modal_step3_list_hidden_p {
    padding: 27px;
    width: 702px;
    font-size: 16px;
    line-height: 34px;
  }
  .modal_step3_button {
    font-size: 27px;
    line-height: 32px;
    padding: 29px 0;
  }
  .modal_step4_button {
    font-size: 31px;
    line-height: 34px;
    padding: 36px 0;
  }
  .modal_step4_item:nth-child(1) {
    background-size: 139px;
    background-position: top 99px right 77px;
  }
  .modal_step4_item:nth-child(2) {
    background-size: 149px;
    background-position: top 99px right 88px;
  }
  .modal_step5_calculate {
    padding-top: 113px;
    padding-right: 187px;
  }
  .modal_step5_title {
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 23px;
  }
  .modal_step5_input {
    margin-bottom: 101px;
    padding: 25px 29px;
    font-size: 31px;
    line-height: 49px;
  }
  .modal_step5_calculate {
    padding-top: 113px;
  }
  .modal_step5_calculate_text {
    font-size: 20px;
    line-height: 29px;
    padding-left: 76px;
  }
  .modal_step5_calculate_text:before {
    top: -12.6px;
    font-size: 160px;
    line-height: 111.6px;
  }
  .modal_step5_result {
    padding: 151px 10.4vw 11vw 7.7vw;
  }
  .modal_step5_result_main {
    padding-left: 90px;
    margin-bottom: 32px;
  }
  .modal_step5_result_main:before {
    font-size: 104px;
    line-height: 86px;
  }
  .modal_step5_result_rub {
    font-size: 104px;
    line-height: 104px;
    margin-bottom: 13px;
  }
  .modal_step5_start_p {
    font-size: 41px;
    line-height: 56px;
  }
  .modal_step5_bp,
  .modal_step_finish_p {
    font-size: 41px;
    line-height: 56px;
    margin-bottom: 18px;
  }
  .modal_step_finish_p {
    max-width: 828px;
  }
  .modal_step5_sp {
    font-size: 34px;
    line-height: 56px;
    margin-bottom: 18px;
  }
  .modal_step5_p {
    font-size: 20px;
    line-height: 41px;
  }
  .modal_step5_tel {
    font-size: 34px;
    line-height: 47px;
  }
  .modal_step5_result_usd {
    font-size: 56px;
    line-height: 56px;
  }
  .modal_step5_list {
    margin-top: 15px;
    margin-bottom: 38px;
  }
  .modal_step5_li {
    font-size: 20px;
    line-height: 41px;
    padding-left: 36px;
  }
  .modal_step5_li:before {
    font-size: 20px;
    line-height: 41px;
  }
  .modal_step5_result_text {
    font-size: 20px;
    line-height: 29px;
  }
  .modal_step6 {
    height: 648px;
  }
  .modal_body6_title {
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 45px;
  }
  .modal_body6_textarea {
    font-size: 30px;
    line-height: 47px;
    padding: 25px 29px;
  }
  .modal_body6_dad_p {
    font-size: 30px;
    line-height: 38px;
    width: 415px;
  }
  .modal_body6_dad_button,
  .modal_body6_dad_done_button {
    font-size: 30px;
    line-height: 38px;
  }
  .modal_body6_dad_done_img {
    margin-bottom: 18px;
  }
  .modal_step7 {
    max-width: 1200px;
  }
  .modal_body7_block {
    margin-bottom: 101px;
  }
  .modal_body7_label {
    font-size: 40px;
    line-height: 49px;
  }
  .modal_body7_input {
    padding: 25px 29px;
    font-size: 30px;
    line-height: 49px;
    width: 477px;
  }
}
@media screen and (max-width: 768px) {
  .modal_close_icon_svg svg {
    width: 4vw;
    height: 4vw;
  }
  .modal_close_icon_svg:hover path {
    fill: #8e8e8e;
  }
  .modal_head {
    padding: 5.3vw 6.1vw 0;
  }
  .modal_header {
    margin-bottom: 3.9vw;
  }
  .modal_title {
    font-size: 4.4vw;
    line-height: 5.1vw;
    max-width: 65vw;
  }
  .modal_body1,
  .modal_body4 .modal_body7,
  .modal_step_finish {
    padding: 5vw 6.1vw;
  }
  .modal_body3 {
    padding: 5vw 6.1vw 30vw;
  }
  .modal_body2 {
    padding: 5vw 6.1vw 25vw;
  }
  .modal_body5 {
    padding: 5vw 0;
  }
  .modal_step1 {
    grid-template-columns: 1fr;
    grid-auto-rows: 23.5vw;
    grid-gap: 3.2vw;
  }
  .modal_step1_item {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 0 6.6vw;
  }
  .modal_step1_item:hover {
    background-color: #F8F8F8;;
  }
  .modal_step1_title,
  .modal_step2_name {
    font-size: 5.1vw;
    line-height: 6.1vw;
  }
  .modal_step1_icon_apart {
    max-width: 14.5vw;
    margin-right: 4.7vw;
  }
  .modal_step1_icon_house,
  .modal_step1_icon_office,
  .modal_step1_icon_retail {
    max-width: 12.9vw;
    margin-right: 6.3vw;
  }

  .modal_back {
    background-size: 8.5vw;
    background-position: center right 6vw;
    width: 38%;
  }
  .modal_next_step {
    min-height: 20vw;
    background-size: 8.5vw;
    background-position: top 6.9vw left 25vw;
    padding-right: 0;
    width: 60%;
  }
  .modal_send {
    min-height: 20vw;
  }
  .modal_next_step_text,
  .modal_send {
    font-size: 5.8vw;
    line-height: 9.2vw;
  }
  .modal_next_step:hover,
  .modal_send:hover {
    background-color: #e94a34;
  }
  .modal_next_step_text:after {
    top: 1.5vw;
    left: 22vw;
    background-size: 60%;
  }
  .modal_next_step_numbers {
    font-size: 9.2vw;
    line-height: 9.2vw;
  }
  .modal_step2 {
    grid-template-columns: 1fr;
    grid-auto-rows: 20.5vw;
    grid-gap: 3.2vw;
  }
  .modal_step2_item {
    padding: 0 5vw 0 13vw;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .modal_step2_item:hover .modal_step2_name {
    color: #313131;
  }
  .modal_step2_item span:before {
    width: 5vw;
    height: 5vw;
    left: -9vw;
  }
  .modal_step3,
  .modal_step4 {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: 3.4vw 0;
  }
  .modal_step3_item,
  .modal_step4_item {
    padding: 7vw 5.2vw 6vw 5.2vw;
    min-height: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .modal_step3_item:hover .modal_step3_button,
  .modal_step4_item:hover .modal_step4_button {
    background-color: transparent;
  }
  .modal_step3_item,
  .modal_step4_item,
  .modal_step3_item._checked,
  .modal_step4_item._checked {
    border-width: 1px;
  }
  .modal_step3_body,
  .modal_step4_body {
    width: 100%;
  }
  .modal_step3_title,
  .modal_step4_title {
    font-size: 5.1vw;
    line-height: 6.4vw;
    margin-bottom: 4.1vw;
    width: 70%;
  }
  .modal_step3_title {
    max-width: 100%;
  }
  .modal_step3_text,
  .modal_step4_text {
    font-size: 3.4vw;
    line-height: 4.4vw;
    margin-bottom: 4.5vw;
  }
  .modal_step3_item:nth-child(1) {
    background-size: 16vw;
    background-position: top 4.5vw right 5.5vw;
  }
  .modal_step3_item:nth-child(2),
  .modal_step3_item:nth-child(3),
  .modal_step4_item:nth-child(1),
  .modal_step4_item:nth-child(2) {
    background-size: 14vw;
    background-position: top 5vw right 5.5vw;
  }
  .modal_step3_button,
  .modal_step4_button {
    font-size: 4.4vw;
    line-height: 4.6vw;
    padding: 0;
    border: none;
    background: none;
    color: #e94a34;
    text-align: left;
  }
  .modal_step3_text {
    width: 80%;
  }
  .modal_step4_text {
    width: 90%;
  }
  .modal_step3_list {
    display: none;
  }
  .modal_step5 {
    flex-direction: column;
  }
  .modal_step5_calculate {
    padding: 0 6.1vw;
    width: auto;
    margin-bottom: 5vw;
  }
  .modal_step5_result {
    width: auto;
  }
  .modal_step5_title {
    font-size: 5.8vw;
    line-height: 7.4vw;
    margin-bottom: 5vw;
  }
  .modal_step5_p {
    font-size: 5.8vw;
    line-height: 7.4vw;
    margin-bottom: 5vw;
  }
  .modal_step5_input {
    width: 78vw;
    margin-bottom: 0;
    padding: 4.1vw 4.6vw;
    font-size: 5.8vw;
    line-height: 7.4vw;
  }
  .modal_step5_calculate_text,
  .modal_step5_result_text {
    display: none;
  }
  .modal_step5_calculate_text_mob {
    display: block;
    position: relative;
    font-size: 4vw;
    line-height: 5.6vw;
    padding-left: 16.2vw;
    margin-top: 10vw;
    margin-bottom: 20vw;
    color: #313131;
  }
  .modal_step5_calculate_text_mob:before {
    content: "!";
    position: absolute;
    top: 10vw;
    left: 0;
    font-weight: 700;
    font-size: 34vw;
    line-height: 6.2vw;
    color: #c4c4c4;
  }
  .modal_step5_result {
    padding: 8.4vw 10.4vw 11vw 7.7vw;
  }
  .modal_step5_result_main {
    padding-left: 11vw;
    margin-bottom: 1.8vw;
  }
  .modal_step5_result_main:before {
    font-size: 13.3vw;
    line-height: 12.3vw;
  }
  .modal_step5_result_rub {
    font-size: 13.3vw;
    line-height: 13.3vw;
    margin-bottom: 2.7vw;
  }
  .modal_step5_start_p {
    font-size: 5.8vw;
    line-height: 7.4vw;
  }
  .modal_step5_bp,
  .modal_step5_sp,
  .modal_step_finish_p {
    font-size: 5.8vw;
    line-height: 7.4vw;
    margin-bottom: 5vw;
  }
  .modal_step_finish_p {
    max-width: 100%;
  }
  .modal_step5_p {
    font-size: 3.6vw;
    line-height: 5.5vw;
    margin-bottom: 1vw;
  }
  .modal_step5_tel {
    font-size: 4.8vw;
    line-height: 6.2vw;
  }
  .modal_step5_result_usd {
    font-size: 10.6vw;
    line-height: 10.6vw;
  }
  .modal_step5_list {
    margin-top: 7.8vw;
    margin-bottom: 2.1vw;
  }
  .modal_step5_li {
    font-size: 3.9vw;
    line-height: 7.3vw;
    padding-left: 6.5vw;
  }
  .modal_step5_li:before {
    content: "—";
    position: absolute;
    left: 0;
    font-size: 3.9vw;
    line-height: 7.3vw;
  }
  .modal_step6 {
    flex-direction: column;
    height: auto;
  }
  .modal_body6_title {
    font-size: 5.8vw;
    line-height: 7.4vw;
    margin-bottom: 5vw;
  }
  .modal_body6_textarea {
    font-size: 5.8vw;
    line-height: 7.4vw;
    padding: 4.1vw 4.6vw;
    height: 50vw;
    margin-bottom: 10vw;
    width: 78vw;
  }
  .modal_body6_dad {
    width: 100%;
  }
  .modal_body6_dad_p {
    font-size: 4.2vw;
    line-height: 6.4vw;
    width: 100%;
    padding: 5vw;
  }
  .modal_body6_dad_button {
    font-size: 4.2vw;
    line-height: 6.4vw;
    padding: 0;
  }
  .modal_body6_dad_done {
    margin: 7vw 0;
  }
  .modal_body6_dad_done_img {
    width: 23vw;
    margin-bottom: 2.5vw;
  }
  .modal_step7 {
    max-width: 100%;
  }
  .modal_body7 {
    padding: 5vw 6vw;
  }
  .modal_body7_block {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10vw;
  }
  .modal_body7_label {
    font-size: 6vw;
    line-height: 7.2vw;
    margin-bottom: 4vw;
  }
  .modal_body7_input {
    padding: 4.1vw 4.6vw;
    font-size: 5.8vw;
    line-height: 7.4vw;
    width: 78vw;
  }
}